@if(visible){
<div class="popup-overlay" (click)="close()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="close()">&times;</button>
    <div class="popup-body">
      <table class="first-table">
        <thead>
          <tr >
            <td rowspan="4" style="text-align: center;"><img src="assets/NAL/CSIR-National_Aerospace_Laboratories_Logo.png" height="100" alt=""></td>
            <td colspan="4"><b>CSIR - NATIONAL AEROSPACE LABORATORIES</b></td>
          </tr>
          <tr>
            <td><b>Issue Number</b></td>
            <td><b>{{data.issueNo}}</b></td>
            <td><b>Issue Date</b></td>
            <td><b>{{data.issueDate}}</b></td>
          </tr>
          <tr>
            <td><b>Revision Number</b></td>
            <td><b>{{data.revisionNo}}</b></td>
            <td><b>Revision Date</b></td>
            <td><b>{{data.revisionDate}}</b></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-weight: bold;">Subject</td>
            <td colspan="4" style="font-weight: bold;">APEX QUALITY MANUAL - AMENDMENT REQUEST FORM</td>
          </tr>
        </tbody>
      </table>

      <!-- Second document -->
      <div class="second-doc">
        <table>
          <tr>
            <td style="font-weight: bold;">From :</td>
            <td> <span  style="font-weight:normal;">MR - office</span></td>
            <td class="italic">Date :</td>
            <td class="italic">Division :</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">To : </td>
            <td> <span style="font-weight: normal;">MR</span></td>
            <td colspan="2"><span class="bold">Document to be Amended</span></td>
          </tr>
        </table>

        <p style="font-weight: bold;">Existing Details:</p>
        <div class="boxed">
          <div style="border: none;" class="content-box">{{data.existingDetails}}</div>
        </div>

        <p style="font-weight: bold;">Changes suggested:</p>
        <div class="boxed">
          <div style="height: 80px;">{{data.changesSuggested}}</div>
          <p class="italic">(Person suggesting changes)</p>
        </div>

        <p>The above mentioned changes may / may not be incorporated in the AQM and implemented.</p>
        <div class="boxed">
          <div style="height: 50px;"></div>
          <div class="signature-line">
            <div>
              <p class="underline">(Issuing authority)</p>
            </div>
            <div>
              <p class="underline">(Management Representative)</p>
            </div>
          </div>
        </div>

        <p>The above approved changes may be incorporated in the AQM and implemented with effect from ______.</p>
        <div class="boxed">
          <div style="height: 50px;"></div>
          <div class="signature-line">
            <div>
              <p class="underline">(Approving Authority)</p>
            </div>
            <div></div>
          </div>
        </div>
      </div>

    </div>
    <form [formGroup]="commentsForm" (ngSubmit)="submitComment()">
      <div class="popup-body">
        <textarea class="form-textarea" formControlName="comments" placeholder="Enter your comments here..."></textarea>
        <button class="submit-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
}