<div class="login-background">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="heading">
      <img src="assets/NAL/CSIR-National_Aerospace_Laboratories_Logo.png" alt="CSIR-NAL Logo">
      <h3>ASPIRE</h3>
    </div>
    <p class="subtitle">AS9100 Project Information & Review Engine</p>

    <div>
      <label for="userid">User ID</label>
      <input
        type="text"
        id="userid"
        formControlName="userId"
        placeholder="Enter your User ID"
        [class.invalid]="loginForm.get('userId')?.invalid && loginForm.get('userId')?.touched"
      />
    </div>

    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter your Password"
        [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
      />
    </div>

    <button type="submit" [disabled]="!loginForm.valid || isLoading">
      {{ isLoading ? 'Logging in...' : 'Log In' }}
    </button>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
